@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@layer base {
	:root {
		--primaryCyan: 180deg 66% 49%;
		--primaryViolet: 257deg 27% 26%;

		--secRed: 0deg 87% 67%;

		--neutralGray: 0deg 0% 75%;
		--neutralGrayishViolet: 257deg 7% 63%;
		--neutralVeryDarkBlue: 255deg 11% 22%;
		--neutralVeryDarkViolet: 260deg 8% 14%;
	}

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        font-family: 'Poppins', sans-serif;
    }
}

.menu svg {
	width: 30px;
	height: 30px;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
	.shortly-bg{
		background-image: url('images/bg-shorten-mobile.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-color: hsl(257, 27%, 26%);
	}
}

@media screen and (min-width: 768px) {
	.shortly-bg{
		background-image: url('images/bg-shorten-desktop.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-color: hsl(257, 27%, 26%);
	}
}


